<?xml version="1.0"?>
<launch>
    <!-- default number of UAVs -->
    <arg name="numberUAVs" default="3"/>
    <!-- vehicle configs -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris"/>

    <!-- SDF MODELS: MAVROS, PX4 SITL, and spawns one vehicle -->
    <group ns="$(eval 'uav' + str(arg('numberUAVs') - 1 ))">
        <!-- vehicle configs -->
        <arg name="ID" value="$(eval arg('numberUAVs') - 1)"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find multi_uav_se_mission)/launch/environment/single_vehicle_spawn_sdf.launch">
            <arg name="x" value="1"/>
            <arg name="y" value="$(eval 0 + arg('numberUAVs'))"/>
            <arg name="z" value="0.05"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="mavlink_udp_port" value="$(eval 14560 + arg('numberUAVs') - 1)"/>
            <arg name="mavlink_tcp_port" value="$(eval 4560 + arg('numberUAVs') - 1)"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(eval 'udp://:' + str(14540 + arg('numberUAVs') - 1) + '@localhost:' + str(14580 + arg('numberUAVs') - 1))"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>

    <!-- recursively start new UAV -->
    <include file="$(find multi_uav_se_mission)/launch/environment/uav_recursive.launch" if="$(eval arg('numberUAVs') - 1 > 0)">
        <arg name="numberUAVs" value="$(eval arg('numberUAVs') - 1)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
    </include>

</launch>
